<html lang="en">
<head>
    {% include "myApp/test1.html" %}
    <meta charset="UTF-8">
    <title>About</title>
    </head>
<body>
<h1>Lower Silesian</h1>
    <p>
    Wrocław -  is a city in western Poland and the largest city in the historical region of Silesia.
    It lies on the banks of the River Oder in the Silesian Lowlands of Central Europe, roughly 350 kilometres  from the Baltic Sea
    to the north and 40 kilometres from the Sudeten Mountains to the south. The population of Wrocław in 2019 was 641,607,
    making it the fourth-largest city in Poland and the main city of the Wrocław agglomeration.
    </p>
    <p>
    Wrocław is the historical capital of Silesia and Lower Silesia. Today, it is the capital of the Lower Silesian Voivodeship.
    The history of the city dates back over a thousand years, and its long heritage combines almost all the religions and cultures of Europe.
    At various times, it has been part of the Kingdom of Poland, the Kingdom of Bohemia, the Kingdom of Hungary, the Habsburg Monarchy, Prussia
    and Germany. Wrocław became part of Poland again in 1945, as a result of the border changes after the Second World War, which included
    a complete exchange of population.
    </p>
<img src="/static/img/map.jpeg" alt="Wroclaw Map">
</body>
{% include "myApp/rules.html" %}
</html>