<html>
<head>
<title>Lottery numbers generator</title>
    <script src="/static/js/loto.js"></script>
    </head>
<body>
<h1>Lottery numbers generator</h1>
<form name="lottery">
	How many balls?<br>
	<input type="text" name="balls_drawn" size=2 value="6"><br><br>
	Highest number possible?<br>
	<input type="text" name="max_number" size=2 value="91"><br><br>
	The numbers:<br>
	<input type="text" name="numbers" size=40 maxlength=40 value=""><br>
	<input type="button" value="Generate" onclick="generatenos();"><br><br>
</form>
</body>
</html>